* { margin-left:0;
	margin-top: 0;
	display: block;

	
}
@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

body{
	background: #D7DCFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #FFFCD7,#D7FFF0,#FFD7F1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #FFFCD7,#D7FFF0, #FFD7F1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #FFFCD7,#D7FFF0, #FFD7F1); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #FFFCD7,#D7FFF0, #FFD7F1); /* Standard syntax */
}
#ueberschrift{
	text-algin: center;

	background-color: #00D4DC;
	font-family: Candara, 'Tangerine';
	font-size:2em;
}
input[type="radio"], input[type="checkbox"], label {
	display: inline;
}
label::after {
	content:"";
	display: block;
}
head {
	display: none;
}
input:invalid {
	background: #FF6363;
	
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}
fieldset {
	width: 300px;
}
#pruefen{
	margin-left:auto;
	margin-right:auto;
	width:80px;
	background-colour: #00D4DC;
}
svg, figure, button, option {
	display: inline;
	margin: 0px;
	padding: 0px;
}