
*{
	margin: 0px;
}
body {
    background-color: #363636;	
}
.Leinwand{
/* 	margin-left: 43%; */
	margin-right: auto;
	display: block;
/* 	background-color: skyblue; */
} 
div{
/* 	margin-left: 43%; */
	
	display:block;
}

button{
	
/* 	padding-top: 37.5px ; */
/* 	padding-bottom: 37.5px ; */
    margin-right: 2px;
	height:75px;
	width: 55px;
	
	 background-color: #4CAF50; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
	
/* 	background-color: fuchsia; */
	
} 
.ueberschriftGr {
    font-family: Century Gothic,'Questrial', sans-serif;
    font-size: 1.75em;
    padding-top: 50px;
    width: 100%;
    color: #e4e4e4;
    text-align: center;
}
/* The Close Button */
.close {
  color: #d7d7d7;
  position: absolute;

  margin-right:20%;
  top:8px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #01c6ff;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width:  350px){
	.ueberschriftGr {
    	font-size: 2.4em;
	}	
}

@media screen and (min-width:  570px){
	.ueberschriftGr {
    	font-size: 4em;
	}	
}

