* {
	margin: 0px;
}

body {
	background-color: #363636;
}

.Leinwand {
	/* 	margin-left: 43%; */
	margin-right: auto;
	display: block;
	/* 	background-color: skyblue; */
}

div {
	/* 	margin-left: 43%; */
	display: block;
}

#linkerButton {
	background-image: url("schnee1.png");
}

#mittlerButton {
	background-image: url("schnee2.png");
}

#rechterButton {
	background-image: url("schnee3.png");
}

.buttons {
	/* 	padding-top: 37.5px ; */
	/* 	padding-bottom: 37.5px ; */
	margin-right: 5px;
	height: 75px;
	width: 55px;
	float: left;
	/* 	 background-color: #4CAF50; Green */ border : none;
	text-align: center;
	text-decoration: none;
	/* 	background-color: fuchsia; */
}
#start{
	 background-color : #4CAF50;
}
#load{
	 background-color : #b4003a;
}
.startButtons {
	margin-top: 280px;
	/* 	padding-bottom: 37.5px ; */
	margin-right: 2px;
	height: 75px;
	width: 55px;
	color: white;
	font-size: 12pt;
	border: none;
	text-align: center;
	text-decoration: none;
	position: absolute;
	z-index: 50;
	background-color: #b4003a;
	/* 	background-color: fuchsia; */
}

.ueberschriftGr {
	font-family: Century Gothic, 'Questrial', sans-serif;
	font-size: 1.75em;
	padding-top: 50px;
	width: 100%;
	color: #e4e4e4;
	text-align: center;
}

#anfangstext {
	padding-top: 30px;
	padding-left: 5px;
	color: white;
	width: 175px;
	position: absolute;
	z-index: 100;
}

#endtext {
	padding-top: 30px;
	padding-left: 5px;
	color: white;
	width: 175px;
	position: absolute;
	z-index: 100;
}

#bild {
	position: absolute;
	z-index: 50;
}
/* The Close Button */
}
@media screen and (min-width: 350px) {
	.ueberschriftGr {
		font-size: 2.4em;
	}
}

@media screen and (min-width: 570px) {
	.ueberschriftGr {
		font-size: 4em;
	}
}