
div{
	width: 12%;
	height:30px;
	float:left;
	overflow:auto;
}

@media screen and (min-width:  350px){
	div{
	height:50px;
	}	
}	
@media screen and (min-width:  570px){
	div{
	height:70px;
	}	
	}
@media screen and (min-width:  768px){
	div{
	height:90px;
	}
}
@media screen and (min-width:  1024px){
	div{
	height:110px;
	}
}
@media screen and (min-width:  1200px){
	div{
	height:125px;
	}
}